In [1]:
import pandas as pd
import numpy as np

In [2]:
test=pd.read_csv('test.csv')

In [3]:
train=pd.read_csv('train.csv')

In [5]:
print train.shape
print train.head()
print train.tail()

(33177270, 4)
   uid  iid  score  time
0    0    0      2    19
1    0    8      4   273
2    0   13      1   587
3    0   18      3    15
4    0   34      3    17
             uid    iid  score  time
33177265  223969  12729      2  1346
33177266  223969  12983      1  1346
33177267  223969  13000      4  1346
33177268  223969  13291      3  1346
33177269  223969  13531      4  1346

In [7]:
user=train['uid']
item=train['iid']
score=train['score']

In [8]:
user = user.drop_duplicates()  
item = item.drop_duplicates()
score = score.drop_duplicates()

In [11]:
print user.shape
print item.shape
print score.shape

(157949L,)
(14620L,)
(5L,)

In [3]:
train2=train.loc[:,['uid','iid','score']]

In [5]:
train2.to_csv('train2.csv')

In [6]:
train2.describe()

                uid           iid         score
count  3.317727e+07  3.317727e+07  3.317727e+07
mean   8.481261e+04  5.109407e+03  3.495277e+00
std    6.057698e+04  3.616496e+03  1.088213e+00
min    0.000000e+00  0.000000e+00  1.000000e+00
25%    3.136900e+04  1.993000e+03  3.000000e+00
50%    7.584700e+04  4.417000e+03  4.000000e+00
75%    1.314850e+05  8.039000e+03  4.000000e+00
max    2.239690e+05  1.472500e+04  5.000000e+00

In [11]:
train3=train2.head()
for index, row in train3.iterrows():
    print row

uid      0
iid      0
score    2
Name: 0, dtype: int64
uid      0
iid      8
score    4
Name: 1, dtype: int64
uid       0
iid      13
score     1
Name: 2, dtype: int64
uid       0
iid      18
score     3
Name: 3, dtype: int64
uid       0
iid      34
score     3
Name: 4, dtype: int64

In [16]:
test=

           uid    iid
0            0  12960
1            1  12726
2            1  11463
3            1  10739
4            1   3441
5            1    301
6            1  13291
7            1   2814
8            1   2857
9            2  12860
10           2  11091
11           2  13057
12           3   8992
13           3  11082
14           3   2665
15           3  12570
16           3  13410
17           3  12714
18           3  14649
19           3   2635
20           4  14339
21           4  13000
22           5   1326
23           5   2308
24           5   1934
25           5   2405
26           5  13509
27           5  12362
28           5   7636
29           5   5155
...        ...    ...
546166  223267  12181
546167  223267   3569
546168  223277  11865
546169  223686  12983
546170  223842   1801
546171  223842   1418
546172  223842    146
546173  223842   3033
546174  223842    282
546175  223842   2883
546176  223842   2161
546177  223842  10018
546178  223842  11218
546179  223842   4753
546180  223842   9687
546181  223842   1321
546182  223842    601
546183  223842   1340
546184  223842   1335
546185  223842   3428
546186  223842   6155
546187  223842   4664
546188  223842   2918
546189  223842   6607
546190  223842   3576
546191  223842   7033
546192  223842   2391
546193  223842   2625
546194  223842   6477
546195  223969   9758

[546196 rows x 2 columns]